{% extends 'admins/base.html' %}
{% load static %}

{% block content %}
<div style="height: 200px;"></div>

<!--================Login Box Area =================-->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0">
            <form method="POST">
                {% csrf_token %}
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="text" name="username" id="form2Example1" class="form-control" />
                    <label class="form-label" for="form2Example1">Username</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" name="password" id="form2Example2" class="form-control" />
                    <label class="form-label" for="form2Example2">Password</label>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">

                    <div class="col">
                        <!-- Simple link -->
                        <a href="{% url 'forgot_password' %}" >Forgot password?</a>
                    </div>
                </div>

                <!-- Submit button -->
                <button type="submit"  class="btn btn-primary btn-block mb-4">Sign in</button>
            </form>

            <!--================End Login Box Area =================-->
        </div>
    </div>
</div>

<div style="height: 200px;"></div>


{% endblock %}