
{% extends 'admins/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shooop Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<!-- CSS ============================================= -->
	<link rel="stylesheet" href="{%static 'user/css/linearicons.css'%}">
		<link rel="stylesheet" href="{% static 'user/css/font-awesome.min.css ' %}">
		<link rel="stylesheet" href="{% static 'user/css/themify-icons.css ' %}">
		<link rel="stylesheet" href="{% static 'user/css/bootstrap.css ' %}">
		<link rel="stylesheet" href="{% static 'user/css/owl.carousel.css ' %}">
		<link rel="stylesheet" href="{% static 'user/css/nice-select.css ' %}">
		<link rel="stylesheet" href="{% static 'user/css/nouislider.min.css ' %}">
		<link rel="stylesheet" href="{% static 'user/css/ion.rangeSlider.css ' %}" />
		<link rel="stylesheet" href="{% static 'user/css/ion.rangeSlider.skinFlat.css ' %}" />
		<link rel="stylesheet" href="{% static 'user/css/magnific-popup.css ' %}">
		<link rel="stylesheet" href="{% static 'user/css/main.css ' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.3.0/remixicon.css" integrity="sha512-0JEaZ1BDR+FsrPtq5Ap9o05MUwn8lKs2GiCcRVdOH0qDcUcCoMKi8fDVJ9gnG8VN1Mp/vuWw2sMO0SQom5th4g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css"/>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Shooop</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li> 
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>  -->
                  <li class="nav-item">
                    <a class="nav-link " href="{% url 'products' %}">Product Details</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="{% url 'add_product' %}">Add New Product</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
          <div style="height: 50px;" class=" d-flex justify-content-center align-items-center mt-3 "><h2 style="color: gray; font-weight: bolder;" class="mt-5">PRODUCTS</h2></div>

          <!-- Messages Area Start -->
          {% if messages %}
                    {% for message in messages%}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong>{{message}}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}
          <!--- Messages Area End -->

          <div class="m-5 border">
    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="text-align: center;">id</th>
            <th scope="col" style="text-align: center;">Product Name</th>
            <th scope="col" style="text-align: center;">Brand</th>
            <th scope="col" style="text-align: center;">Color </th>
            <th scope="col" style="text-align: center;">Size</th>
            <th scope="col" style="text-align: center;">Occassion</th>
            <th scope="col" style="text-align: center;">Ideal_for</th>
            <th scope="col" style="text-align: center;">Image</th>
            <th scope="col" style="text-align: center;">Description</th>
            <th scope="col" style="text-align: center;">Offers</th>
            <th scope="col" style="text-align: center;">Coupon</th>
            <th scope="col" style="text-align: center;">Stock</th>
            <th scope="col" style="text-align: center;">Price</th>
            <th scope="col" style="text-align: center;">Action</th>

          </tr>
        </thead>
        <tbody>
          {% for item in product %}
          <tr>
            <th scope="row">{{ item.id}} </th>
            <td style="text-align: center;"> {{ item.prod_name}}</td>
            <td style="text-align: center;"> {{ item.brand }}</td>
            <td style="text-align: center;"> {{ item.color }}</td>
            <td style="text-align: center;"> {{ item.size }}</td>
            <td style="text-align: center;"> {{ item.occassion }}</td> 
            <td style="text-align: center;"> {{ item.ideal_for }}</td>
            {% if item.image %}
            <td style="text-align: center;"> <img src="{{ item.image.url }}" style="height: 70px; width: 70px;" alt=""> </td>
            {% else %}
            <td style="text-align: center;"> <img src="{% static 'user/img/banner/No_Image.jpg' %}" alt="default image" style="height: 70px; width: 70px;" alt=""> </td>
            {% endif %}
            <td style="text-align: center;"> {{ item.descr }}</td>
            <td style="text-align: center;"> {{ item.offers }}</td>
            <td style="text-align: center;"> {{ item.coupon }}</td>
            <td style="text-align: center;"> {{ item.stock }}</td>
            <td style="text-align: center;"> {{ item.price }}</td>
            <td style="text-align: center;"><a class="btn btn-outline-secondary p-1" href="{% url 'update_product' item.id %}">Edit</a>
              <a class="btn btn-outline-danger p-1 mt-2" href="{% url 'delete_product' item.id %}">Delete</a>
            </td>
            
          </tr>
          {% endfor %} 
         
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="height: 300px;"> 
      <a class="btn btn-secondary" href="{% url 'add_product' %}" >--Add New Product--</a>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</html>
{% endblock content %}