{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Shooop</title>
	<link rel="icon" type="image/png" href="{% static 'user/img/Logoos/shoe3.png'%}">
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="{%static 'user/css/linearicons.css'%}">
		<link rel="stylesheet" href="{% static 'user/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'user/css/themify-icons.css' %}">
		<link rel="stylesheet" href="{% static 'user/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'user/css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'user/css/nice-select.css' %}">
		<link rel="stylesheet" href="{% static 'user/css/nouislider.min.css' %}">
		<link rel="stylesheet" href="{% static 'user/css/ion.rangeSlider.css' %}">
		<link rel="stylesheet" href="{% static 'user/css/ion.rangeSlider.skinFlat.css' %}">
		<link rel="stylesheet" href="{% static 'user/css/magnific-popup.css' %}">
		<link rel="stylesheet" href="{% static 'user/css/main.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.3.0/remixicon.css" integrity="sha512-0JEaZ1BDR+FsrPtq5Ap9o05MUwn8lKs2GiCcRVdOH0qDcUcCoMKi8fDVJ9gnG8VN1Mp/vuWw2sMO0SQom5th4g==" crossorigin="anonymous" referrerpolicy="no-referrer">
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css">
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css">

	</head>

<body>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-dark main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h"  href="#"><img style="width:90px; height: 50px;" class="ml-3 " src="{% static 'user/img/Logoos/shoe1.png' %}" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
							<li class="nav-item submenu dropdown">
								<a href="{% url 'shop'%}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Shop</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="{% url 'shop'%}">Shop Category</a></li>
									<li class="nav-item"><a class="nav-link" href="{% url 'wishlist' %}">Wishlist</a></li>
									<li class="nav-item"><a class="nav-link" href="{% url 'cart' %}">Shopping Cart</a></li>
									<li class="nav-item"><a class="nav-link" href="{% url 'checkout' %}">Product Checkout</a></li>
									<li class="nav-item"><a class="nav-link" href="{% url 'my_orders' %}">Orders</a></li>
								</ul>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Blog</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
									<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
								</ul>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Pages</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
									<li class="nav-item"><a class="nav-link" href="{% url 'cart' %}">Cart</a></li>
								
									{% if user.is_authenticated %}
									<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
									{% else %}
									<li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
									{% endif %}
									
								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							{% if user.is_authenticated %}
							<li class="nav-item"><a href="{% url 'profile' %}" class=""><span><i style="color: rgb(112, 112, 237);" class="ri-user-line"></i></span></a></li>
							<li class="nav-item"><a href="{% url 'cart' %}" class="cart"><span ><i style="color: rgb(120, 120, 234);" class="ri-shopping-cart-fill"></i></span></a></li>
							{% else %}
							<li class="nav-item"><a href="{% url 'login' %}" class=""><span><i class="ri-user-line"></i></span></a></li>
							<li class="nav-item"><a href="{% url 'login' %}" class="cart"><span ><i class="ri-shopping-cart-fill"></i></span></a></li>
							{% endif %}
							
		
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between" action="{% url 'product_search' %}" method="GET">
					<input type="text" class="form-control" id="search_input" name="key" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
</body>

    {% block content  %}
    
    {% endblock  %}

    <!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							We are one of the Leading Shoe selling Brands started in 2023. To offer our customers best quality products under affordable price ranges.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Newsletter</h6>
						<p>Stay update with our latest</p>
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="form-inline">

								<div class="d-flex flex-row">

									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
									 required="" type="email">


									<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>

									<!-- <div class="col-lg-4 col-md-4">
												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
											</div>  -->
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Instragram Feed</h6>
						<ul class="instafeed d-flex flex-wrap">
							<li><img src="img/i1.jpg" alt=""></li>
							<li><img src="img/i2.jpg" alt=""></li>
							<li><img src="img/i3.jpg" alt=""></li>
							<li><img src="img/i4.jpg" alt=""></li>
							<li><img src="img/i5.jpg" alt=""></li>
							<li><img src="img/i6.jpg" alt=""></li>
							<li><img src="img/i7.jpg" alt=""></li>
							<li><img src="img/i8.jpg" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div> 
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

	<script src="{% static "user/js/vendor/jquery-2.2.4.min.js" %}"></script>
	<script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static "user/js/vendor/bootstrap.min.js" %}"></script>
	<script src="{% static "user/js/jquery.ajaxchimp.min.js" %}"></script>
	<script src="{% static "user/js/jquery.nice-select.min.js" %}"></script>
	<script src="{% static "user/js/jquery.sticky.js" %}"></script>
	<script src="{% static "user/js/nouislider.min.js" %}"></script>
	<script src="{% static "user/js/countdown.js" %}"></script>
	<script src="{% static "user/js/jquery.magnific-popup.min.js" %}"></script>
	<script src="{% static "user/js/owl.carousel.min.js" %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static "user/js/gmaps.min.js" %}"></script>
	<script src="{% static "user/js/main.js" %}"></script>

	<script src="{% static 'user/js/zoomsl.js' %}"></script>
	<script src="{% static 'user/js/zoomsl.min.js' %}"></script>



	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

    <script>
        alertify.set('notifier','position', 'top-right');
        {% for msg in messages %}
        alertify.success('{{msg}}');
		
        {% endfor %}
	</script>

	<script type="text/javascript">
        $(document).ready(function () {
          $(".big_img").imagezoomsl({
              zoomrange:[-4,-4]
          })
        })
      </script>


