{% extends 'user/base.html' %}
{% load static %}

{% block content %}

<div style="height: 200px;" class="row d-flex justify-content-center "></div>
<div style="height: 100px;" class="row d-flex justify-content-center align-items-center "><h2 style="color: gray; font-weight: bolder;">Shop</h2></div>


<!-- End Banner Area -->
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Browse Categories</div>
                <ul class="main-categories">
                    <li class="main-nav-list"><a data-toggle="collapse" href="#fruitsVegetable" aria-expanded="false" aria-controls="fruitsVegetable"><span
                             class="lnr lnr-arrow-right"></span>Shoes for Men<span class="number">(53)</span></a>
                        <ul class="collapse" id="fruitsVegetable" data-toggle="collapse" aria-expanded="false" aria-controls="fruitsVegetable">
                            {% for i in occassion %}
                            <li class="main-nav-list child"><a href="#">{{i.Sports}}<span class="number">(13)</span></a></li>
                            <li class="main-nav-list child"><a href="#">{{i.casual}}<span class="number">(13)</span></a></li>
                            <li class="main-nav-list child"><a href="#">{{i.Formal}}<span class="number">(13)</span></a></li>
                            {% endfor %}
                           
                        </ul>
                    </li>

                    <li class="main-nav-list"><a data-toggle="collapse" href="#meatFish" aria-expanded="false" aria-controls="meatFish"><span
                             class="lnr lnr-arrow-right"></span>Shoes for Women<span class="number">(53)</span></a>
                        <ul class="collapse" id="meatFish" data-toggle="collapse" aria-expanded="false" aria-controls="meatFish">
                            {% for i in occassion %}
                            <li class="main-nav-list child"><a href="#">{{i.Sports}}<span class="number">(13)</span></a></li>
                            <li class="main-nav-list child"><a href="#">{{i.casual}}<span class="number">(13)</span></a></li>
                            <li class="main-nav-list child"><a href="#">{{i.Formal}}<span class="number">(13)</span></a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="main-nav-list"><a data-toggle="collapse" href="#cooking" aria-expanded="false" aria-controls="cooking"><span
                             class="lnr lnr-arrow-right"></span>Shoes for Boys<span class="number">(53)</span></a>
                        <ul class="collapse" id="cooking" data-toggle="collapse" aria-expanded="false" aria-controls="cooking">
                            {% for i in occassion %}
                            <li class="main-nav-list child"><a href="#">{{i.Sports}}<span class="number">(13)</span></a></li>
                            <li class="main-nav-list child"><a href="#">{{i.casual}}<span class="number">(13)</span></a></li>
                            <li class="main-nav-list child"><a href="#">{{i.Formal}}<span class="number">(13)</span></a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="main-nav-list"><a data-toggle="collapse" href="#beverages" aria-expanded="false" aria-controls="beverages"><span
                             class="lnr lnr-arrow-right"></span>Shoes for Girls<span class="number">(24)</span></a>
                        <ul class="collapse" id="beverages" data-toggle="collapse" aria-expanded="false" aria-controls="beverages">
                            {% for i in occassion %}
                            <li class="main-nav-list child"><a href="#">{{i.Sports}}<span class="number">(13)</span></a></li>
                            <li class="main-nav-list child"><a href="#">{{i.casual}}<span class="number">(13)</span></a></li>
                            <li class="main-nav-list child"><a href="#">{{i.Formal}}<span class="number">(13)</span></a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="main-nav-list"><a data-toggle="collapse" href="#homeClean" aria-expanded="false" aria-controls="homeClean"><span
                             class="lnr lnr-arrow-right"></span>Shoes for Kids<span class="number">(53)</span></a>
                        <ul class="collapse" id="homeClean" data-toggle="collapse" aria-expanded="false" aria-controls="homeClean">
                           
                        </ul>
                    </li>
                    
                   
                </ul>
            </div>
            <div class="sidebar-filter mt-50">
                <div class="top-filter-head">Product Filters</div>
                <div class="common-filter">
                    <div class="head">Brands</div>
                        <ul>
                             
                            {% for brand in brands  %}
                            <li class="filter-list"><a href="{% url 'brand_filter' brand.id %}">{{brand.name}} </a> <label for="brand-{{brand.id}}" ><span>(29)</span></label></li>
                            {% endfor %}
                            
                        </ul>
                </div>
                <!-- <div class="common-filter">
                    <div class="head">Color</div>
                        <ul>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Black<span>(29)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">Black
                                    Leather<span>(29)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">Black
                                    with red<span>(19)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Gold<span>(19)</span></label></li>
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Spacegrey<span>(19)</span></label></li>
                        </ul>
                </div> -->
                <div class="common-filter">
                    <div class="head">Price</div>
                    <div class="price-range-area">
                        <div id="price-range"></div>
                        <div class="value-wrapper d-flex">
                            <div class="price">Price:</div>
                            <span>₹</span>
                            <div id="lower-value"></div>
                            <div class="to">to</div>
                            <span>₹</span>
                            <div id="upper-value"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7 ">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                
                <div  class="sorting ">
                    <form action="{% url 'product_search' %}">
                        <input  type="text" class="form-control" placeholder="Search here.." name="key">
                </div>
   
                <div class="sorting mr-auto">
                        <button  class="btn btn-outline-secondary rounded-circle border-0" type="submit"><i class="ri-search-line"></i></button>
                    </form>
                </div>
                <!-- <div class="pagination">
                    <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                    <a href="#">6</a>
                    <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> -->
            </div>
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">
                
                
                    
                <div class="row">
                    
                    <!-- single product -->
                    {% for item in product %}
                    <div class="col-lg-4 col-md-6">

                        <div class="single-product">
                            {% if item.offers %}<span style="color: cyan; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{item.offers.name}} Offers Available..!!</span>{% endif %}

                            {% if item.image  %}
                           <a href="{% url 'single_product' item.id 0  %}"> <img class="img-fluid" style="height: 200px; width: 200px;" src="{{item.image.url}}" alt=""></a>
                            {% else %}
                            <a href="{% url 'single_product' item.id 0 %}"> <img class="img-fluid" style="height: 200px; width: 200px;" src="{% static 'user/img/banner/No_Image.jpg' %}" alt="No Image"></a>
                            {% endif %}
                            <div class="product-details">
                                <h6>{{item.prod_name}}</h6>
                                <div class="price">
                                    <h6 class="text-warning"><i class="bi bi-currency-dollar"></i>₹ {{item.price}}</h6><br>
                                   
                                    <h6 class="text-success">{{item.brand}}</h6>
                                   
                                </div>
                                <div class="prd-bottom">
                                    
                                    <a href="{% url 'single_product' item.id 0 %}" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">Add to cart</p>
                                    </a>
                                    
                                    <a href="{% url 'add_to_wishlist' item.id  %}" class="social-info">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-sync"></span>
                                        <p class="hover-text">Check Out</p>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
            <!-- End Single Product -->
                   
                    

                </div>
            </section>
            <!-- End Best Seller -->
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting mr-auto">
                    <select>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                        <option value="1">Show 12</option>
                    </select>
                </div>
                <div class="pagination">
                    <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                    <a href="#">6</a>
                    <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <!-- End Filter Bar -->
        </div>
    </div>
</div>




<!-- Modal Quick Product View -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="container relative">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="product-quick-view">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="quick-view-carousel">
                            <div class="item" style="background: url(img/organic-food/q1.jpg);">

                            </div>
                            <div class="item" style="background: url(img/organic-food/q1.jpg);">

                            </div>
                            <div class="item" style="background: url(img/organic-food/q1.jpg);">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="quick-view-content">
                            <div class="top">
                                <h3 class="head">Mill Oil 1000W Heater, White</h3>
                                <div class="price d-flex align-items-center"><span class="lnr lnr-tag"></span> <span class="ml-10">₹149.99</span></div>
                                <div class="category">Category: <span>Household</span></div>
                                <div class="available">Availibility: <span>In Stock</span></div>
                            </div>
                            <div class="middle">
                                <p class="content">Mill Oil is an innovative oil filled radiator with the most modern technology. If you are
                                    looking for something that can make your interior look awesome, and at the same time give you the pleasant
                                    warm feeling during the winter.</p>
                                <a href="#" class="view-full">View full Details <span class="lnr lnr-arrow-right"></span></a>
                            </div>
                            <div class="bottom">
                                <div class="color-picker d-flex align-items-center">Color:
                                    <span class="single-pick"></span>
                                    <span class="single-pick"></span>
                                    <span class="single-pick"></span>
                                    <span class="single-pick"></span>
                                    <span class="single-pick"></span>
                                </div>
                                <div class="quantity-container d-flex align-items-center mt-15">
                                    Quantity:
                                    <input type="text" class="quantity-amount ml-15" value="1" />
                                    <div class="arrow-btn d-inline-flex flex-column">
                                        <button class="increase arrow" type="button" title="Increase Quantity"><span class="lnr lnr-chevron-up"></span></button>
                                        <button class="decrease arrow" type="button" title="Decrease Quantity"><span class="lnr lnr-chevron-down"></span></button>
                                    </div>

                                </div>
                                <div class="d-flex mt-20">
                                    <a href="#" class="view-btn color-2"><span>Add to Cart</span></a>
                                    <a href="#" class="like-btn"><span class="lnr lnr-layers"></span></a>
                                    <a href="#" class="like-btn"><span class="lnr lnr-heart"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="height:200px"></div>




<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>


{% endblock  %}


