{% extends 'user/base.html' %}

{% block content %}

<!--================Single Product Area =================-->
<div class="product_image_area m-5 ">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                {% if product.image  %}
                <div class="s_Product_carousel">
                    <div class="single-prd-item">
                        <img class="img-fluid big_img" src="{{product.image.url}}" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid big_img" src="{{product.image.url}}" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid big_img" src="{{product.image.url}}" alt="">
                    </div>
                </div>
                {% else %}
                <div class="single-prd-item">
                    <img class="img-fluid" src="{{default_image_url}}" alt="No image">
                </div>

                {% endif %}
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{product.prod_name}}</h3>
                    <h2>Rs.{{product.price}}</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Category</span> : {{product.ideal_for}}, {{product.occassion}}</a></li>
                        <li><a href="#"><span>Size</span> :{{product.size}}</a></li>
                    </ul>
                    <p>{{product.descr}}.</p>
                    <div class="product_count">
                        <label for="qty">Quantity:</label>
                        <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                         class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                         class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                    </div>
                    <div class="card_area d-flex align-items-center">
                        <a class="primary-btn" href="{% url 'add_to_cart' product.id  %}">Add to Cart</a>
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<div style="height: 100px;"></div>

<script>

</script>


{% endblock content %}